body{
    margin: 0px;
    padding: 0px;
}

#navbar{
    position: fixed;
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    background-color: #136cbe;
    /* padding: 2rem 0rem 1rem 0rem; */
    height: 5rem;
    /* margin-left: 1rem; */
    /* border-radius: 8px; */
    opacity: 120%;
    z-index: 1000;
    margin: auto;
}

#logoimage{
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    border-radius: 30%;
    margin-top: 0.5rem;
    /* margin-left: 4rem;
    padding: 0.5rem 0rem 0.5rem 0rem; */
}
#icon{
    width: 11px;
    height: 7px;
    margin: 5px 0px 0px 8px;
    cursor: pointer;
    }
#search-bar{
        
        display: flex;
        margin-top: 1.3rem;
        padding: 0px 16px;
        width: 400px;
        height: 40px;
        border: 1px solid #eaeaea;
        background-color: #f8f8f8;
        border-radius: 5px;
        transition: .3s;
        border-bottom: none!important;
        
    }    
    #input-search{
        /* width: 337px; */
        cursor: pointer;
        margin-top: 3px;
        width: 100%;
        height: 1.5rem;
        margin-top: 8px;
        background-color: #f8f8f8;
        /* height: 21px; */
        font-size: 16px;
        border: none;
        caret-color: #d11243;
        outline: none
        
        /* outline-color: rgb(255, 255, 255); */
       
        
        
    }
    
    #search-logo{
        cursor: pointer;
        display: block;
        width: 30px;
        height: 25px;
        margin: 0.65rem 0px 0px 1rem;
        margin-left: 10px;
    }
#cartnav{
    display: flex;
    width: 6rem;
}
#signupnav{
    display: flex;
}
/* #singupcontent{
    color: red;
} */
#bagnav{
    display: flex;
}
.navContentimage{
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 1rem;
}
.navContentparagraph{
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
    margin: 2.3rem 0rem 0rem 0.5rem;
    font-size: 1.2rem;
    color: black;
    transition: color 0.1s;
    
}

.navContentparagraph:hover {
    color: red 

}

#banner{
    /* justify-content: center; */
    width: 90%;
    height: 25rem;
    margin: auto;
    margin-top: 1rem;
}
#bannerimage{
    width: 100%;
    height: 100%;
}

#productContainerDiv{
    position: absolute;
    margin: auto;
    margin-top: 6rem;
    width: 95%;
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    gap: 1rem; 
    /* background-color: teal; */
    margin-left: 2.1rem;
    
}
#productContainer{
    /* background-color: red; */
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
}
#imageCombinedDiv{
    width: 100%;
    /* height: 40%; */
    display: flex;
    justify-content: space-evenly;
    /* background-color: blue; */

   
}
#productImage{
    width: 50%;
    /* bac /* background-color: green; */
    border-radius: 5px;
    margin-top: 1rem;
}
#combineDiv{
    margin-left: 0.5rem;
    margin-top: 0rem;
    text-align: left;
    /* background-color: yellow; */
    width: 40%;
    /* height: 2%; */
    /* font-size: 1rem; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* justify-content: left; */
    
}

/* .productCombineDivClass{
   margin-top: 2rem;
   background-color: royalblue;
   margin-left: 2rem;
} */

#productName{
    /* background-color: yellow; */
    margin-top: 1rem;
    margin-left: 0px;
    margin-left: 0.5rem;
    
}
#productDescription{
    margin-top: 1rem;
    margin-left: 0.5rem;
}
#productCompanyName{
    margin-top: 1rem;
    margin-left: 0.5rem;
}


#addToCart{
    cursor: pointer;
    /* margin-left: 50%; */
    /* padding: 10px; */
    margin-top: 10%;
    /* background-color: rgb(0, 179, 255); */
    background-color: #136cbe;
    border: none;
    border-radius: 5px;
    color: white;
    /* padding-left: 31%;
    padding-right: 31%; */
    padding: 5% 33% 5% 33%;
    font-size: larger;
    font-weight: bold;
}
#addToCart:hover{
    background-color: rgba(0, 128, 0, 0.842);
}
.combinedDivParameter{
    /* background-color: red; */
    margin: 0px;
    margin-top: 30px;
    font-size: 1.2rem;
    text-align: left;
}

.productComibineParameter{
    font-size: 1.2rem;
}
/* #productTableteNumber{
    background-color: teal;
    margin: 0px;
    margin-top: 8px;
} */

/* #productPrice,
#productTableteNumber, */
#productManufacturingDate{
    margin: 0px;
    margin-top: 10px;
}
#productExpiryDate {
    margin: 0px; /* Adjust the top and bottom margins */
    margin-top: 10px;
}

#productCombine{
    /* background-color: white; */
}

/* djhhhhhhhjhjhj */
#paymentDiv{
    width: 35%;
    /* background-image: url('Image/bannerImage0.png'); */
    background-size: cover;
    margin-left: 63%;
    margin-top: 1%;
    opacity: 120%;
    /* background-color: gray; */
    /* border: 2px solid red; */
   
}
#paymentSection{
    /* background-color: red; */
    width: 60%;
    margin: auto;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
#payment{
    cursor: pointer;
    color: white;
    padding: 3% 33.6% 3% 33.6%;
    border-radius: 2%;
    border: 0px;
    background-color: #136cbe;
    font-weight: bolder;
}
.paymentValClass{
   
}